{% extends 'base.html' %} {% block content %}
<!-- INFORMATION ABOUT US (WHY WE MADE THIS, OUR NAMES ETC) -->
<div class="container mt-2">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img
        src="https://img.freepik.com/free-vector/pair-programming-concept-illustration_114360-2170.jpg?w=2000"
        class="about-us-img d-block mx-lg-auto img-fluid"
        alt="Bootstrap Themes"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 id="about-us-header" class="display-5 fw-bold lh-1 mb-3">About US</h1>
      <p class="lead">
        This website has been created as a joint initiative by
        <b>Krishna Jindal</b> and <b>Shorya Jain</b>, students of class 12 as a
        part of our computer science project.
      </p>
    </div>
  </div>
</div>

<!-- INFORMATION ABOUT THE WEBSITE (HOW WE MADE IT, WHAT WE USED) -->
<div class="container my-0">
  <!-- HEADING AND SITE LOGO -->
  <div class="px-4 py-2 my-2 text-center">
    <svg
      class="logo ms-2"
      width="95"
      height="80"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 640 512"
    >
      <path
        d="M392.8 1.2c-17-4.9-34.7 5-39.6 22l-128 448c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l128-448c4.9-17-5-34.7-22-39.6zm80.6 120.1c-12.5 12.5-12.5 32.8 0 45.3L562.7 256l-89.4 89.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-112-112c-12.5-12.5-32.8-12.5-45.3 0zm-306.7 0c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l112 112c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256l89.4-89.4c12.5-12.5 12.5-32.8 0-45.3z"
      />
    </svg>
    <h1 class="display-5 fw-bold mt-4">How It Was Created</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-1">This website was made using the following :</p>
    </div>
    <!-- LIST OF COMPONENTS USED  -->
    <div class="features-container mt-0 mb-0">
      <div class="container px-5 py-5" id="featured-3">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
            >
              <svg
                id="Layer_1"
                class="bi"
                width="72"
                height="57"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 122.88 73.29"
              >
                <defs>
                  <style>
                    .cls-1 {
                      fill: black;
                      fill-rule: evenodd;
                    }
                  </style>
                </defs>
                <title>tailwind-css</title>
                <path
                  class="cls-1"
                  d="M61.44,0Q36.87,0,30.72,24.43q9.22-12.21,21.5-9.16c4.68,1.16,8,4.53,11.72,8.26,6,6.08,13,13.11,28.22,13.11q24.57,0,30.72-24.43-9.21,12.22-21.5,9.16c-4.68-1.16-8-4.53-11.72-8.26C83.64,7,76.67,0,61.44,0ZM30.72,36.64Q6.15,36.64,0,61.07q9.23-12.21,21.5-9.16c4.68,1.16,8,4.53,11.72,8.27,6,6.07,13,13.11,28.22,13.11q24.57,0,30.72-24.43Q82.95,61.07,70.66,58c-4.68-1.16-8-4.53-11.72-8.26-6-6.08-13-13.12-28.22-13.12Z"
                />
              </svg>
            </div>
            <h2>Tailwind CSS</h2>
            <p>
              A utility-first CSS framework packed with classes that can be
              composed to build any design, directly in your markup.
            </p>
          </div>
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
            >
              <svg
                class="bi"
                width="72"
                height="57"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 576 512"
              >
                <path
                  d="M333.5,201.4c0-22.1-15.6-34.3-43-34.3h-50.4v71.2h42.5C315.4,238.2,333.5,225,333.5,201.4z M517,188.6 c-9.5-30.9-10.9-68.8-9.8-98.1c1.1-30.5-22.7-58.5-54.7-58.5H123.7c-32.1,0-55.8,28.1-54.7,58.5c1,29.3-0.3,67.2-9.8,98.1 c-9.6,31-25.7,50.6-52.2,53.1v28.5c26.4,2.5,42.6,22.1,52.2,53.1c9.5,30.9,10.9,68.8,9.8,98.1c-1.1,30.5,22.7,58.5,54.7,58.5h328.7 c32.1,0,55.8-28.1,54.7-58.5c-1-29.3,0.3-67.2,9.8-98.1c9.6-31,25.7-50.6,52.1-53.1v-28.5C542.7,239.2,526.5,219.6,517,188.6z M300.2,375.1h-97.9V136.8h97.4c43.3,0,71.7,23.4,71.7,59.4c0,25.3-19.1,47.9-43.5,51.8v1.3c33.2,3.6,55.5,26.6,55.5,58.3 C383.4,349.7,352.1,375.1,300.2,375.1z M290.2,266.4h-50.1v78.4h52.3c34.2,0,52.3-13.7,52.3-39.5 C344.7,279.6,326.1,266.4,290.2,266.4z"
                />
              </svg>
            </div>
            <h2>Bootstrap</h2>
            <p>
              Bootstrap is a free and open-source CSS framework directed at
              responsive, mobile-first front-end web development.
            </p>
          </div>
          <div class="feature col">
            <div
              class="feature-icon d-inline-flex align-items-center justify-content-center bg-gradient fs-2 mb-3"
            >
              <svg
                class="bi"
                width="72"
                height="57"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
              >
                <path
                  d="M64 96c0-35.3 28.7-64 64-64H512c35.3 0 64 28.7 64 64V352H512V96H128V352H64V96zM0 403.2C0 392.6 8.6 384 19.2 384H620.8c10.6 0 19.2 8.6 19.2 19.2c0 42.4-34.4 76.8-76.8 76.8H76.8C34.4 480 0 445.6 0 403.2zM281 209l-31 31 31 31c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-48-48c-9.4-9.4-9.4-24.6 0-33.9l48-48c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9zM393 175l48 48c9.4 9.4 9.4 24.6 0 33.9l-48 48c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l31-31-31-31c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0z"
                />
              </svg>
            </div>
            <h2>Django</h2>
            <p>
              Django is a high-level Python web framework that encourages rapid
              development and clean, pragmatic design.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
