<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Log In</title>
  </head>
  
  <body class="h-screen">
    <div class="w-full flex flex-wrap">
      <!-- section for Registration -->
      <div class="w-full md:w-1/2 flex flex-col">
        <!-- Logo -->
        <div
          class="flex justify-center md:justify-start pt-12 md:pl-8 md:-mb-12"
        >
          <a
            href={%url 'home'%}
            class="bg-black text-white text-xl font-bold p-4 md:text-sm lg:text-xl rounded-lg"
            >Tech Crunch</a
          >
        </div>
        <!-- Form -->
        <div
          class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
        >
          <p class="text-center text-3xl">Log In</p>
          <form class="flex flex-col pt-3 md:pt-8" method = "POST">
            <div class="flex flex-col pt-4">
              <label for="username">Username</label>
              <input
                type="text"
                id="username"
                name = "username"
                placeholder="Enter the Username"
                class="shadow appearance-none border rounded w-100 py-2 px-3 shadow text-gray-700 leading-tight mt-2 focus:outline-none focus:shadow-outline"
              />
            </div>

            <div class="flex flex-col pt-4">
              <label for="password">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="Enter Your Password"
                class="shadow appearance-none border rounded w-100 py-2 px-3 shadow text-gray-700 leading-tight mt-2 focus:outline-none focus:shadow-outline"
              />
            </div>
            {% csrf_token %}
            <input
              type="submit"
              class="mt-8 bg-black text-white hover:bg-gray-700 rounded p-2"
            />
          </form>
          <div class="text-center pt-8">
            <p>
              Don't have an account?
              <a href={% url 'register' %} class="underline">Create one here.</a>
            </p>
          </div>
        </div>
      </div>
      <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
      </div>
    </div>
  </body>
</html>
